.homemain{
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 46%;
    justify-content: center;
    color:rgb(1, 31, 129);
    font-weight: bolder;
    font-size: xx-large;
    font-family: "Dancing Script";

    text-shadow: 8px 0.5px 3px rgb(229, 245, 13);
    opacity: 0.8;
    background: rgb(255, 254, 251);
    
}