@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lilita+One&family=Open+Sans:wght@300&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
